body {
    background-color: #EEF4ED;
    font-family: Roboto;
    
}

h1 {

}
header {
    width: 925px;
    height: 60px;
    top: 13px;
    left: 655px;
    border-radius: 50px;
    border: 1px;

}
footer {
    width: 925px;
    height: 301px;
    top: 1046px;
    left: 655px;
}

.menu {


}

.search-quiz {


.craete {
   

.menu-items {
  
}

.item {



}

.subjects {
 

}
.subject-item {


}
