body {
    background-color: #EEF4ED;
    font-family: Roboto;
    color: #0B2545;
}

h1 {  
    width: 229px;
    height: 75px;   
    font-size: 64px;
    font-weight: 600;
    line-height: 75px;
    letter-spacing: 0em;
    text-align: left;
    padding: 0;
    margin: 0;

}
h2 {
    font-family: Roboto;
    font-size: 40px;
    font-weight: 600;
    line-height: 47px;
    letter-spacing: 0em;
    text-align: left;

}
h3 {
    font-family: Roboto;
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;
    
}

.main-footer {
   
    width: 925px;
    height: 301px;
    
}
.item a{
    color: #0B2545;
    text-decoration: none;
}

.item a.active {
    color: #8DA9C4;

}

.menu {
    position: absolute;
    width: 295px;
    height: 1030px;
    left: 340px;
    padding: 1px 0px 261px 0px;
}

.create-smth {
    display: grid;
    width: Fixed (229px);
    height: Fixed (59px);
    top: 96px;
    left: 33px;
    padding: 19px 65px 19px 65px;
    border-radius: 50px;
    gap: 20px;
    background: #13315C;
    font-family: Roboto;
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
    color: #EEF4ED;
    margin-top: 20px;
    margin-bottom: 20px;
}
.search {
    
    width: Fixed (190px);
    height: Fixed (60px);
    
    padding: 19px 65px 19px 65px;
    border-radius: 50px;
    gap: 10px;
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
    background: #EEF4ED;
}

header {
    position: absolute;
    width: 925px;
    height: 60px;
    top: 13px;
    left: 655px;   
}

.code-button {

    top: 13px;
    left: 340px;
    padding: 19px 65px 19px 65px;
    border-radius: 50px;
    gap: 10px;
    background: #13315C;
    color:#EEF4ED;
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0em;
    margin-left: auto;
    margin-right: 0;

}

.menu-item {   
    font-family: Roboto;
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
    color: #0B2545;
    text-decoration: none;
    width: 295px;
    height: 85px;
    flex-shrink: 0;
    border: solid black;
    display: flex;
    align-items: center;
    gap: 15px; 
}

.menu-item:hover a {
    color: #8DA9C4;

}

.subjects {
    position: relative;
    width: 925px;
    height: 930px;
    top: 96px;
    left: 655px;    
}
.subject a {
    font-family: Roboto;
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;
    color: #0B2545;
}

.site-navigation-item a {
    color: #0B2545;
    text-decoration: none;
}
 

.subject-item:hover a{
    background-color: #8DA9C4;
    color:#EEF4ED; 
}

svg {
    fill: #0B2545;
}

svg:hover {
    fill: #EEF4ED;
    .subject-item a {
        background-color: #8DA9C4;
        color:#EEF4ED;
    }
}

div.subject-item-mathematic{
    position: relative;
    width: 190px;
    height: 162px;
    border-radius: 40px;
    border: 1px;    
}

.mathematic {
    text-decoration: none;
    position: absolute;
    color:#0B2545;
    text-align: center;
    margin: 35px 30px 34px 30px;
}
.russian {
    width: 190px;
    height: 162px;
    margin: 35px 50px 34px 50px;
    border-radius: 40px;
    position: absolute; 
    top: 80px;
    left: 315px;  
}

.litreture {
    width: 190px;
    height: 162px;
    margin: 35px 50px 34px 50px;
    border-radius: 40px;
    position: absolute;
    top: 80px;
    left: 525px;
}

.physic{
    width: 190px;
    height: 162px;
    padding: 35px 50px 34px 50px;
    border-radius: 40px;
    position: absolute;
    top: 252px;
    left: 105px;
}

.chemistry{
    width: 190px;
    height: 162px;
    padding: 35px 50px 34px 50px;
    border-radius: 40px;
    position: absolute;
    top: 252px;
    left: 315px;
}

.biology {
    width: 190px;
    height: 162px;
    padding: 35px 50px 34px 50px;
    border-radius: 40px;
    position: absolute;
    top: 252px;
    left: 525px;
}

.foreign {
    width: 190px;
    height: 162px;
    padding: 35px 50px 34px 50px;
    border-radius: 40px;
    position: absolute;
    top: 424px;
    left: 105px;
}

.history{
    width: 190px;
    height: 162px;
    padding: 35px 50px 34px 50px;
    border-radius: 40px;
    position: absolute;
    top: 424px;
    left: 315px;
}

.social{
    width: 190px;
    height: 162px;
    padding: 35px 50px 34px 50px;
    border-radius: 40px;
    position: absolute;
    top: 424px;
    left: 525px;
}

.infomatic{
    width: 190px;
    height: 162px;
    padding: 35px 50px 34px 50px;
    border-radius: 40px;
    position: absolute;
    top: 596px;
    left: 105px;
}

.geography{
    width: 190px;
    height: 162px;
    padding: 35px 50px 34px 50px;
    border-radius: 40px;
    position: absolute;
    top: 596px;
    left: 315px;
}

.sports {
    width: 190px;
    height: 162px;
    padding: 35px 50px 34px 50px;
    border-radius: 40px;
    position: absolute;
    top: 596px;
    left: 525px;
}

.art {
    width: 190px;
    height: 162px;
    padding: 35px 50px 34px 50px;
    border-radius: 40px;
    position: absolute;
    top: 768px;
    left: 105px;
}
.main-footer-nav {
    font-family: Roboto;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    color: #0B2545;
}