body {
    background-color: #EEF4ED;
    font-family: Roboto;
    color: #0B2545;
}

header {
    position: absolute;
    width: 925px;
    height: 60px;
    top: 13px;
    left: 500px;
}

h1 {  
    width: 229px;
    height: 75px;   
    font-size: 64px;
    font-weight: 600;
    line-height: 75px;
    letter-spacing: 0em;
    text-align: left;
    padding: 0;
    margin: 0;

}
h2 {
    font-family: Roboto;
    font-size: 40px;
    font-weight: 600;
    line-height: 47px;
    letter-spacing: 0em;
    text-align: left;

}
h3 {
    font-family: Roboto;
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;
    
}

.main-footer {
    width: 925px;
    height: 301px;
}

.item a{
    color: #0B2545;
    text-decoration: none;
}

.item a.active {
    color: #8DA9C4;
}

.menu {
    position: absolute;
    width: 295px;
    height: 1030px;
    left: 185px;
    padding: 1px 0px 261px 0px;
}

.code-button {
    width: 190px;
    height: 60px;
    top: 13px;
    left: 1390px;
    padding: 19px 30px 19px 30px;
    border-radius: 50px;
    gap: 10px;
    background: #13315C;
    color:#EEF4ED;
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0em;
    margin-left: 20px;
}
.create-smth {
    display: grid;
    width: Fixed (229px);
    height: Fixed (59px);
    top: 96px;
    left: 33px;
    padding: 19px 65px 19px 65px;
    border-radius: 50px;
    gap: 20px;
    background: #13315C;
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
    color: #EEF4ED;
    margin-top: 20px;
    margin-bottom: 20px;
}

.main-header input#search-quiz::-webkit-input-placeholder {
    color: #0B2545;
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.search {   
    width: 695px;
    height: 60px;
    padding: 19px 65px 19px 65px;
    border-radius: 50px;
    border: 1px solid #0B2545;
    gap: 10px;
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
    background: url("/img/Search.svg") top 18px left 25px no-repeat #EEF4ED;
}


.menu-item {   
    font-family: Roboto;
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
    color: #0B2545;
    text-decoration: none;
    width: 295px;
    height: 85px;
    flex-shrink: 0;
    
    display: flex;
    align-items: center;
    gap: 15px; 
}

.menu-item:hover a {
    color: #8DA9C4;
}

.unknown-search {
    position: absolute;
    width: 636px;
    height: 60px;
    top: 0px;
    right: 210px; 
    padding: 16px 30px 16px 26px;
    border-radius: 50px;
    border: 1px solid #8DA9C4;
    background-color: #EEF4ED;
    font-family: Roboto;
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
}

input#unknown-search::-webkit-input-placeholder{
    color: #8DA9C4;
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.subjects {
    position: relative;
    width: 925px;
    height: 930px;
    top: 96px;
    left: 475px;
    padding:0px;
}

.site-navigation-item a {
    color: #0B2545;
    text-decoration: none;
}
 

.subject-item:hover a{
    background-color: #8DA9C4;
    color:#EEF4ED; 
}

svg:hover {
    fill: #EEF4ED; 
}

svg {
    fill: #0B2545;
}


.subject-item-mathematic{
    display: inline-block;
    padding: 35px 65px 10px 65px;
}

.mathematic {
    left: 105px;
    top:80px;
    text-decoration: none;
    position: absolute;
    color:#0B2545;
    text-align: center;    
    width: 190px;
    height: 162px;
    border-radius: 40px;
    border: 1px;  
}
.subject-item-russian{
    display: inline-block;
    padding: 35px 65px 10px 65px;
}
.russian {
    left: 315px;
    top:80px;
    text-decoration: none;
    position: absolute;
    color:#0B2545;
    text-align: center;    
    width: 190px;
    height: 162px;
    border-radius: 40px;
    border: 1px; 
}

.subject-item-literature {
    display: inline-block;
    padding: 35px 65px 10px 65px;
}

.litreture {
    text-decoration: none;
    position: absolute;
    color:#0B2545;
    text-align: center;    
    width: 190px;
    height: 162px;
    border-radius: 40px;
    border: 1px;
    top: 80px;
    left: 525px;  
}

.subject-item-physic {
    display: inline-block;
    padding: 35px 65px 10px 65px;
}

.physic{
    text-decoration: none;
    position: absolute;
    color:#0B2545;
    text-align: center;    
    width: 190px;
    height: 162px;
    border-radius: 40px;
    border: 1px;
    top: 252px;
    left: 105px;
}

.subject-item-chemistry {
    display: inline-block;
    padding: 35px 65px 10px 65px;
}

.chemistry{
    text-decoration: none;
    position: absolute;
    color:#0B2545;
    text-align: center;    
    width: 190px;
    height: 162px;
    border-radius: 40px;
    border: 1px;
    top: 252px;
    left: 315px;
}

.subject-item-biology{ 
    display: inline-block;
    padding: 35px 65px 10px 65px;
}
.biology {
    text-decoration: none;
    position: absolute;
    color:#0B2545;
    text-align: center;    
    width: 190px;
    height: 162px;
    border-radius: 40px;
    border: 1px;
    top: 252px;
    left: 525px;
}
.subject-item-foreign{ 
    display: inline-block;
    padding: 35px 65px 10px 65px;
}
.foreign {
    text-decoration: none;
    position: absolute;
    color:#0B2545;
    text-align: center;    
    width: 190px;
    height: 162px;
    border-radius: 40px;
    border: 1px;
    top: 424px;
    left: 105px;
}
.subject-item-history{ 
    display: inline-block;
    padding: 35px 65px 10px 65px;
}

.history{
    text-decoration: none;
    position: absolute;
    color:#0B2545;
    text-align: center;    
    width: 190px;
    height: 162px;
    border-radius: 40px;
    border: 1px;
    top: 424px;
    left: 315px;
}
.subject-item-social{ 
    display: inline-block;
    padding: 35px 65px 10px 65px;
}
.social{
    text-decoration: none;
    position: absolute;
    color:#0B2545;
    text-align: center;    
    width: 190px;
    height: 162px;
    border-radius: 40px;
    border: 1px;
    top: 424px;
    left: 525px;
}
.subject-item-informatic{ 
    display: inline-block;
    padding: 35px 65px 10px 65px;
}
.informatic{
    text-decoration: none;
    position: absolute;
    color:#0B2545;
    text-align: center;    
    width: 190px;
    height: 162px;
    border-radius: 40px;
    border: 1px;
    top: 596px;
    left: 105px;
}
.subject-item-geography{ 
    display: inline-block;
    padding: 35px 65px 10px 65px;
}
.geography{
    text-decoration: none;
    position: absolute;
    color:#0B2545;
    text-align: center;    
    width: 190px;
    height: 162px;
    border-radius: 40px;
    border: 1px;
    top: 596px;
    left: 315px;
}
.subject-item-sports{ 
    display: inline-block;
    padding: 35px 65px 10px 65px;
}
.sports {
    text-decoration: none;
    position: absolute;
    color:#0B2545;
    text-align: center;    
    width: 190px;
    height: 162px;
    border-radius: 40px;
    border: 1px;
    top: 596px;
    left: 525px;
}
.subject-item-art{ 
    display: inline-block;
    padding: 35px 65px 10px 65px;
}
.art {
    text-decoration: none;
    position: absolute;
    color:#0B2545;
    text-align: center;    
    width: 190px;
    height: 162px;
    border-radius: 40px;
    border: 1px;
    top: 768px;
    left: 105px;

}
.main-footer-nav {
    font-family: Roboto;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    color: #0B2545;
}